[project]
name = "assignment-automation"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "pylint>=4.0.4",
    "ruff>=0.15.0",
]
